#header{
    position: fixed;
}

#header > header > div > a > img{
    height: 7em;
}


#header > header > nav > menu > li{
    cursor: pointer;
}

#form
{
    position: fixed;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
    display: none;
}

#subform 
{
    position: fixed;
    margin: 100px 0;
    background-color: #a6e4f5;
    padding: 20px;
    border-radius: 5px;
    z-index: 101;
    width: 380px;
    height: 100px;
    display: none;
}



#footer>footer {
    background-color: #000;
    display: flex;
    margin: 5% 0%;
}

#footer>footer>div {
    padding: 10% 10%;
    text-align: center;
}

#footer>footer>div>p {
    color: white;

}

#footer>footer>div>h2 {
    color: white;
}

#footer>footer>div:last-child {
    display: flex;
    flex-direction: column;
}

#footer>footer>div:last-child>div {
    display: flex;
    justify-content: space-between;
}

#footer>footer>div:last-child>div>img {
    height: 2em;
    margin: 0 4px;
    width: auto;
}