/* making the header fixed while scrolling */
body{
    margin: 0px;
}

/* editing the layout of header */
#header{
    display: flex;
    position: fixed;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    /* margin-top: -11%; */
    background-color: #f8f8f8;
}

#header>div{
    padding-right: 28em;
}

/* changing the logo size */
#header > div > a > img{
    height: 7em;
}


/* arranging navigation menu */
#header > nav {
    flex-grow: 1;

}
#header > nav > menu{
    display: flex;
    list-style: none;
    justify-content: space-around;
    /* padding-top: 20px; */
}

#header > nav > menu > li{
    font-size: 2em;
}

#header > nav > menu > li:nth-child(2) > a {
    /* padding: 0% 130%; */
    color: black;
}
#header > nav > menu > li:nth-child(3) > a{
    /* padding-left: 255%; */
    color: black;
}

/* coverting cursor into pointer so that user can see the link */
#header > nav > menu > li{
    cursor: pointer;
}

/* editing the layout of header */
#aboutheader{
    display: flex;
    position: fixed;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-top: -100px;
    background-color: #f8f8f8;
}

main.aboutMain
{
    margin-top: 100px;
}

/* changing the logo size */
#aboutheader > div > a > img{
    height: 7em;
}

#aboutheader > nav{
 flex-grow: 1;
}

/* arranging navigation menu */
#aboutheader > nav > menu{
    display: flex;
    list-style: none;
    justify-content: space-around;
}

#aboutheader > nav > menu > li{
    font-size: 2em;
}

#aboutheader > nav > menu > li:nth-child(2) > a {
    color: black;
}
#aboutheader > nav > menu > li:nth-child(3) > a{
    color: black;
}

/* coverting cursor into pointer so that user can see the link */
#aboutheader > nav > menu > li{
    cursor: pointer;
}


/* styling pop out form */
#form
{
    position: fixed;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
    display: none;
}

#subform 
{
    position: fixed;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 100px 0;
    background-color: #000000;
    padding: 20px;
    border-radius: 5px;
    z-index: 101;
    width: 380px;
    height: 280px;
    display: none;
    color: #f8f8f8;
}

/*styling close button of form*/
#closebutton{
    width: 1em;
    cursor: pointer;
    height: 1em;
}

/* arranging the close button and text */
.hello{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.feedbackForm
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.feedbackForm > div 
{
    margin-bottom: 10px;
    width: 100%;
}

.feedbackForm > button 
{
    padding: 4px 10px;
    margin-bottom: 10px;
}
/* Styling the first text section */
.mainleft-section >h1{
    padding-top: 125px;
    font-size: 10em;
    margin: 0px;
}

/* styling image below the text */
.mainright-section > img{
    height: 31em;
    width: 100%;
}

/* styling the text-image class */
.text-image{
    display: flex;
    padding: 10px;
}

/* styling image-text class */
.image-text{
    display: flex;
    padding: 10px;
}

/* styling all sideimages */
.sideimages{
    width: 35em;
    height: 30em;
}

/* editing the sidetext class */
.sidetext{
    font-size: 2em;
}

/* styling the h3 tag */
.heading3{
    font-size: 3em;
}



#footer>footer {
    background-color: #000;
    display: flex;
    margin-top: 5%;
}

#footer>footer>div {
    padding: 10% 10%;
    text-align: center;
}

#footer>footer>div>p {
    color: white;

}

#footer>footer>div>h2 {
    color: white;
}

#footer>footer>div:last-child {
    display: flex;
    flex-direction: column;
}

#footer>footer>div:last-child>div {
    display: flex;
    justify-content: space-between;
}

#footer>footer>div:last-child>div>img {
    height: 2em;
    margin: 0 4px;
    width: auto;
}

#aboutbody{
    background-color: rgb(203, 203, 189);
}

.about > h1{
    text-align: center;
    padding-top: 100px;
}

.aboutcontent{
    font-size: 1.5em;
}

.aboutheading{
    font-size: 2em;
}

@media only screen and (max-width:1440px) 
{

}
@media only screen and (max-width: 1280px)  
{
    .mainleft-section >h1 {
        font-size: 6em;
    }
}
@media only screen and (max-width: 1024px)  
{
    .image-text,
    .text-image 
    {
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        
    }
    #header>div{
        padding-right: 12em;
    }
}
@media only screen and (max-width:769px)  
{
    #header>div{
        padding-right: 2em;
    }
    .mainleft-section >h1 {
        font-size: 3em;
    }
}
@media only screen and (max-width: 640px) 
{
    #header>div{
        padding-right: 0em;
    }
    #header > nav > menu > li {
        cursor: pointer;
        font-size: 2em;
    }
    #footer > footer 
    {
        flex-direction: column;
    }
    #aboutheader > nav > menu > li
    {
        font-size: 1.2em;
    }
    
}
@media only screen and (max-width: 446px) 
{
    #aboutheader > nav > menu > li, 
    #aboutheader > nav > menu > li, 
    #header > nav > menu > li 
    {
        cursor: pointer;
        font-size: 1em;
    }
   
}
@media only screen and (max-width: 376px) 
{
   
}
@media only screen and (max-width: 320px) 
{
    
}