/* making the header fixed while scrolling */
body{
    margin: 0px;
}

/* editing the layout of header */
header{
    display: flex;
    z-index: 999;
    position: fixed;
    justify-content: space-between;
    width: 100%;
}

header>div{
    padding-right: 25em;
}

/* changing the logo size */
header > div > a > img{
    height: 7em;
}

header > nav > menu{
    display: flex;
    list-style: none;
}

header > nav > menu > li{
    margin: 0% 10%;
}

header > nav > menu > li > a {
    padding: 0% 10%;
}

/* coverting cursor into pointer so that user can see the link */
header > nav > menu > li{
    cursor: pointer;
}

section.firstsection{
    margin-top: 100px;
}

/* styling pop out form */
#form
{
    position: fixed;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
    display: none;
}

#subform 
{
    position: fixed;
    margin: 100px 0;
    background-color: #000000;
    padding: 20px;
    border-radius: 5px;
    z-index: 101;
    width: 380px;
    height: 100px;
    display: none;
    color: #f8f8f8;
}

/*styling close button of form*/
#closebutton{
    width: 1em;
    cursor: pointer;
}


#footer>footer {
    background-color: #000;
    display: flex;
    margin: 5% 0%;
}

#footer>footer>div {
    padding: 10% 10%;
    text-align: center;
}

#footer>footer>div>p {
    color: white;

}

#footer>footer>div>h2 {
    color: white;
}

#footer>footer>div:last-child {
    display: flex;
    flex-direction: column;
}

#footer>footer>div:last-child>div {
    display: flex;
    justify-content: space-between;
}

#footer>footer>div:last-child>div>img {
    height: 2em;
    margin: 0 4px;
    width: auto;
}